@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



/* ----------- BASE STYLE -------- */

:root {
  --grey: #adb5bd;
  --blue: #1fa2ff;
  --dark:#495057;

}

html {
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color:var(--grey);
  font-size: 18px;

}
section {
  padding: 4rem 0;
}
svg {
  color:var(--grey);
}
.shadow-btn {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 15%) !important;
  background: #fff !important;
  border: none !important;
  padding: 15px 32px;
  font-weight: 600;
}
.main-heading {
  font-size: 42px !important;
  font-weight: 600;
}


.main-subheading {
  background-color: rgba(133, 204, 255, 0.15) !important;
  width: max-content;
  margin: 0 auto;
  padding: 6px 12px;
  color: var(--blue);
  font-size: 15px;
  font-weight: bold !important;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.3rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: var(--dark);
}

.sticky-scroll {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.main-content {
  position: relative;
  z-index: 7;
  padding-top: 10%;
  height: 100vh;
  background-color: #fff;
}

@keyframes updown {
  0% {
    transform: translateY(2%);
    animation-delay: 5s;
  
  }

  50% {
    transform: translateY(4%);
    animation-delay: 5s;
    
  }

  100% {
    transform: translateY(2%);
    animation-delay: 5s;
  }
}

/* -----------CUSTOM SCROLL -------- */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 2em;
  background-color:var(--lightPurple) ;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: #282f4e;
}


